*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: rgb(34,193,195);
    background: linear-gradient(142deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.container-login{
    border: 1px solid black;
    width: 400px;
    height: 400px;
    margin: 125px auto;
    text-align: center;
    background-color: white;
    background-size: cover;
}

.container-login h1{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 45px;
    width: 300px;
    border-bottom: 2.7px solid #16bbe0;
    display: inline-block;
}

.container-login .dados-container{
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
}

.container-login .dados-container label{
    font-weight: bold;
    text-align: right;
}

.container-login .dados-container input{
    width: 99%;
    border-radius: 5px;
    border: 0.1px solid black;
    padding: 5px 10px;
}

.container-login .dados-container input[type=submit]{
    font-size: 20px;
}

.container-login .dados-container p{
    color: red;
}